.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

/*
--------------------------------
-- Empieza HEADER
--------------------------------
*/

.hedar_styles {
  background: #621518;
  display: grid;
  grid-template-columns: auto auto auto;
  color: white;
  height: 100px;
  padding: 30px 0 0 150px;
}

.altoma{
  background: #621518;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: 10px 0 0 0;
}

/*Terminar responsive*/
@media only screen and (max-width: 600px) {
  .hedar_styles {
    background: #621518;
    display: grid;
    grid-template-columns: auto auto auto;
    color: white;
    height: 100px;
    padding: 30px 0 0 150px;
  }
  .altoma{
    background: #621518;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 10px 0 0 0;
  }
}

/*
--------------------------------
-- NOTICIAS
--------------------------------
*/

.noticia {
  display: grid;
  margin: 64px 112px 80px 112px;
  grid-template-columns: auto auto auto;
}

.texto_noticia{
  width: 612px;
  color: #1E3984;
  font-size: 48px;
  font-weight: 700px;
  line-height: 64px;
   /*wordWrap: 'break-word';*/
}

.txt_secundario{
  width: 612PX;
  text-align: 'justify';
  color: #1E3984;
  font-size: 20px;
  font-family: 'DM Sans';
  font-weight: 400PX;
  line-height: 32PX;
  letter-spacing: 0.50PX;
  word-wrap: 'break-word';
  margin-top: 16px;
}

.boton {
  background: #1E3984;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #1E3984;
  color: white;
  border-radius: 50px;
  overflow: 'hidden';
  justify-content:center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  margin-top: 16px;
}

/*
--------------------------------
-- NOTICIAS VERSION 2
--------------------------------
*/

.gen_noticia{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.tit_noticia{
  display: flex;
  align-items: center;
  justify-content: center;
}

.descrip_noticia{
  width: 864px;
  text-align: center;
  color: #302A77;
  font-size: 24px;
  font-family: 'DM Sans';
  font-weight: 400px;
  line-height: 32px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
  justify-content: center;
  align-items: center;

}


.borderline{
  /*margin: 48px 112px;*/
  width: auto;
  height: 0px;
  border: 1px #E7A428 solid;
  color: #E7A428;
  margin: 48px 0;
}

/*
contenido del card
*/
.card_contenido{
  text-align: justify;
  font-size: 20px;
  margin: 16px 0px 24px 0px;
}

.gen_articulo{
  /*margin: 0px 112px;*/
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 64px;
}

.gen_arcticulo2{
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-gap: 64px;
  margin-top: 64px;
  margin-bottom: 40px;
}

/*
--------------------------------------
---------------SERVICIOS
----------------------------------------
*/

.tit_servicios{
  display: flex;
  align-items: center;
}

.dsc_servicios{
  margin-top: 16px;
  font-size: 20px;
  font-weight: 400px;
}

.card_servicios{
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-gap: 64px;
}